/* adapt mobile screen */
@media screen  and (max-width: 768px) {
    #header{
        #menu{ display: none; }
        .login-btn{ display: none; }
        .header-btn{ display: block; }
        .header-center{ margin: auto;width: 100%; } 
        #title-pc{ display: none; }
        #title-mb{ display: block; } }
    .main{ width: 100%;padding: 32px; }

    .slide{ 
        width:100% !important; 
        .slide-right{ display: none; }
        .slide-left{ width: 100%; } }
}
@media screen  and (max-width: 455px) and (min-width: 1px) {
    #header{ .search{ width: 200px; }
             #title-mb{ display: none; } }
}
@media screen  and (min-width: 769px) {
    #header{
        #menu{ display: block; }
        .login-btn{ display: block; }
        .header-btn{ display: none; }
        .header-center{ margin: auto;width:1000px; }
        #title-pc{ display: block; }
        #title-mb{ display: none; } }
    .main{ width: 1000px;margin: 32px auto; }
    .slide{ width: 1000px !important;margin: auto; }
}