@import "base","adapt";
/* main content */
.container-fluid{
    height: 100%;
}
.main{
    position: relative;
    top: 0;
    overflow: hidden;
    height: auto;
    width: 1000px;
    margin: 32px auto 0;
    padding-bottom: 30px;
}
center{ background: #f0f2f7; }
#cates{
    position: relative;
    width: 100%;
    margin: 20px 0;
    ul li{
        float: left;
        font-size: 18px;
        height: 30px;
        margin-right: 50px;
        overflow: hidden;
        a{ display: block;line-height: 30px; }
        a:hover{ color: $themeColor; }
    }
}
.cate-highlight{ color: $themeColor; }
.bloglist{
    position: relative;
    width: 100%;text-align: center;
    .blog-title{
        font-weight: bold;margin-top: 20px; padding-left: 16px;
        a { color:$themeColor; }
    }
    .blog-title:hover{ color: $themeColor; }
    ul li{
        float: left;width: 320px;background-color: #fff;height: 390px;
        margin-right: 13px;margin-bottom: 20px;overflow: hidden; }
    .blog-content{
        height: 135px;padding: 18px;
        overflow: hidden;
        p {  overflow: hidden;height: 100%;line-height: 2;text-overflow: ellipsis;
            color: #626773;  font-size: 13.4px; }
    }
}
/* slider */
.slide {
    position: relative;
    overflow: auto;
    width:1000px;
    margin: auto;
    height: 300px;
    background: #fff;
    color: #666;
    text-align: center;
    ul{
        height: 300px;
        li{ float: left;height: 100%;list-style: none; }
    }
    .unslider-arrow {
        position: absolute;
        top: 125px;
        width: 32px;
        height: 32px;

        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        opacity: .6;
        background-color: #fff;
        color:$themeColor;
        i{ position: absolute;font-size: 22px;top: 5px;left: 5px; }
    }
    .unslider-arrow.next{ right: 0; }
    .unslider-arrow.prev{ left: 0; }
    .dots{
        position: absolute;
        left:0;
        right:0;
        bottom: 30px;
        li {display: inline-block;width: 10px;
            height: 10px;margin: 0 4px;text-indent: -999em;
            border: 2px solid $themeColor;border-radius: 6px;
            cursor: pointer;opacity: .4;-webkit-transition: background .5s, opacity .5s;
            -moz-transition: background .5s, opacity .5s;transition: background .5s, opacity .5s;
        }
        li.active { background: #fff;opacity: 1; }
    }
    .slide-left{
        float: left;
        width: 50%;
        height: 300px;
        padding: 25px 0 25px 25px;
    }
    .slide-right{
        float: left;
        width: 50%;
        height: 300px;
        padding: 25px 50px 25px 0;
        p{
            padding-top: 20px;font-size: 15px;
            width: 450px;height: 165px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
        h1{ font-size: 25px;margin-top: 10px; a{color: $themeColor;} }
    }
}