/* adapt mobile screen */
@media screen  and (max-width: 768px) {
    #menu{ display: none; }
    .login-btn{ display: none; }
    .header-btn{ display: block; }
    #title-pc{ display: none; }
    #title-mb{ display: block; }

    .header-center{ margin: auto;width: 100%; }
    .main{ width: 100%;padding: 32px; }
    .slide{ width:100% !important; }
}
@media screen  and (max-width: 455px) and (min-width: 1px) {
    #title-mb{ display: none; }
    .search{ width: 200px; }
}
@media screen  and (min-width: 769px) {
    #menu{ display: block; }
    .login-btn{ display: block; }
    .header-btn{ display: none; }
    #title-pc{ display: block; }
    #title-mb{ display: none; }

    .header-center{ margin: auto;width:1000px; }
    .main{ width: 1000px;margin: 32px auto; }
    .slide{ width: 1000px !important;margin: auto; }
}