<html lang="zh-CN">
<head>
    <title>site</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{static_url('css/base.css')}}" type="text/css">
    <link rel="stylesheet" href="{{static_url('css/bootstrap.css')}}" type="text/css">
    <link rel="stylesheet" href="{{static_url('css/jquery.fancybox.css')}}" type="text/css">

    <script src="http://cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{static_url('js/jquery.fancybox.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/base.js')}}"></script>
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="123131" data-redirecturi="http://baidu.com" charset="utf-8"></script>
</head>
<body>
<div class="header">
    <a href="#" class="title">XXX</a>
    <a href="javascript:;" id="login-btn" class="login-btn fancybox">登录</a>
    <ul class="menu">
        <li><a href="/">首页</a></li>
        <li><a href="/examples">案例</a></li>
        <li><a href="/about">关于</a></li>
    </ul>
    <div class="header-mask"></div>
</div>
<div class="fake-header"></div>
<center>
<div class="main">
{% block body %}{% end %}
</div></center>
<div class="footer"></div>

<script type="text/html" id="login-page">
    <div class="col-md-12">
        <form class="form-horizontal">
            <h3>登录</h3>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="username" id="username">
                    <span id="username-span" class="placeholder">请输入用户名</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" class="form-control" name="password" id="password">
                    <span id="password-span" class="placeholder">请输入密码</span>
                </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3">
                 <button type="submit" id="login" class="btn btn-info col-sm-12">登录</button>
              </div>
            </div>
        </form>
        <span id="qqLoginBtn"></span>
    </div>
</script>
</body>
</html>