<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>System Dashboard</title>

	<link rel="stylesheet" href="{{static_url('css/sys.css')}}">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<script src="http://cdn.bootcss.com/react/0.13.3/react.min.js"></script>
	<script src="http://cdn.bootcss.com/react-router/0.13.3/ReactRouter.min.js"></script>
	<script src="http://cdn.bootcss.com/react/0.13.3/JSXTransformer.js"></script>
</head>
<body>
	<script type="text/jsx" src="{{static_url('js/sys.js')}}"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>